.section__small {
    font-style: 14px;
    border-radius: 50px;
    background-color: #CE7182;
    color: #fff;
    padding: 1px 23px;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
}
/* text-wrap */
.text__wrap {
}
.text__inner {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.text__inner .text {
    width: 32.3333%;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    padding: 90px 20px 20px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    transform: all 0.3s;
    cursor: pointer;
    position: relative;
}
.text__inner .text:hover {
    background-color: #f5f5f5;
}
.text__inner .text::before {
    content: '';
    width: 60px;
    height: 60px;
    background-color: #CE7182;
    background-image: url(../img/textType01_01.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 20px;
    top: 20px;
    border-radius: 50%;
}
.text__inner .text.t2::before {
    background-color: #CE7182;
    background-image: url(../img/textType01_02.svg);
}
.text__inner .text.t3::before {
    background-color: #CE7182;
    background-image: url(../img/textType01_03.svg);
}
.text__inner .text.t4::before {
    background-color: #CE7182;
    background-image: url(../img/textType01_04.svg);
}
.text__inner .text.t5::before {
    background-color: #CE7182;
    background-image: url(../img/textType01_05.svg);
}
.text__inner .text.t6::before {
    background-color: #CE7182;
    background-image: url(../img/textType01_06.svg);
}
.text__title {
    font-style: 24px;
    margin-bottom: 10px;
}
.text__desc {
    font-style: 16px;
    color: #666;
    margin-bottom: 15px;
    line-height: 1.5;
}
.text__btn {
    float: right;
    position: relative;
    padding-right: 20px;
}
.text__btn::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 2px;
    width: 15px;
    height: 15px;
    background-image: url(../img/icon_plus.svg);
    transition: all 0.3s;
}
.text__btn:hover::before {
    transform: rotate(360deg);
}

@media (max-width: 960px){
    .text__inner .text {
        width: 49%;
    }
}
@media (max-width: 600px){
    .text__inner .text {
        width: 100%;
    }
}